{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} {{name}} {% endblock %}</h1>
    {% for x in tests %}
    <form action="#" method="post">
        <p> {{x}}
        <input type="hidden" name="trackid" value = {{x[0]}} +   />
        <input type="hidden" name="date" value = {{x[1]}}  +  />
        <input type="hidden" name="location" value = {{x[2]}}  +  />
        <input type="hidden" name="radarSN" value = {{x[3]}}  +  />
        <input type="hidden" name="label" value = {{x[4]}}  +  />
        <input type="hidden" name="labeler" value = {{x[5]}}  +  />
        <input type="submit" value="view images"/> </p>
    </form>
    {% endfor %}
    

   
{% endblock %}