<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>{{name}}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

        <!-- DataGrid library CSS -->
        <link href="datagrid.min.css" rel="stylesheet" />

        <style>
        .demo-table{
            font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
            font-size: 1rem;
            margin: 2rem auto;
            border: 1px solid #ddd;
            border-collapse: collapse;
            width: 600px;
            max-width: 95%;
        }
        
        .demo-table td,
        .demo-table th{
            padding: 1rem;
            border: 1px solid #ddd;
            text-align: left;
        }
        
        .demo-table tr:nth-child(even) td{
            background: #f4f4f4;
        }
        
        input[type="text"]{
            border: 1px solid #ccc;
            border-radius: 0.5rem;
            padding: 0.3rem 0.5rem;
        }
        </style>
    </head>
    <body>
        <table class="demo-table">
            <thead>
                
                <tr>
                    <form action="#" method="post">
                    <th>Date
                        <p><input type="date" name="timestampInDays" /></p>
                        {% if "timestampInDays" in selected %}
                            <p><input type="submit" name= "remove" value= "remove date filter"  /></p>
                        {% endif %}
                    </th>
                    <th>Location
                        <p><input type="text" name="location" /></p>
                        {% if "location" in selected %}
                            <p><input type="submit" name= "remove" value= "remove location filter"  /></p>
                        {% endif %}
                    </th>
                    <th>Label
                        <div id="dropdown">
                            <input type="text" name="label" id="input" placeholder="Search device ...">
                        </div>
                        <script src="{{ url_for('static', filename='searchlabels.js') }}"></script>
                        
                        {% if "label" in selected %}
                            <p><input type="submit" name= "remove" value= "remove label filter"  /></p>
                        {% endif %}
                    </th>
                    <th>Labeler
                        <p><input type="text" name="email" /></p>
                        {% if "email" in selected %}
                            <p><input type="submit" name= "remove" value= "remove labeler filter"  /></p>
                        {% endif %}
                    </th>
                    <th>Live Labeled
                        <p><input type="text" name="livelabelled" /></p>
                        {% if "livelabelled" in selected %}
                            <p><input type="submit" name= "remove" value= "remove live labeled filter"  /></p>
                        {% endif %}
                    </th>
                    <th>Radar SN
                        <p><input type="text" name="radarSerialNumber" /></p>
                        {% if "radarSerialNumber" in selected %}
                            <p><input type="submit" name= "remove" value= "remove radar filter"  /></p>
                        {% endif %}
                    </th>
                    <th>Camera SN
                        <p><input type="text" name="cameraSerialNumber" /></p>
                        {% if "cameraSerialNumber" in selected %}
                            <p><input type="submit" name= "remove" value= "remove camera filter"  /></p>
                        {% endif %}
                    </th>
                    <th>Images
                        <input type="submit" name= "golabel" value="Label Images"/>
                        <input type="submit" name = "filter" value="Filter"/>
                    </th>
                    </form>
                </tr>
            </thead>
            
            <tbody data-grid>
                {% for x in tests %}
                <tr data-grid-item>
                    <td class="date">{{x[0]}}</td>
                    <td class="location">{{x[1]}}</td>
                    <td class="label">
                        {% for z in x[2] %}
                        <p> {{z[0]}} </p>
                        {% endfor %}
                    </td>
                    <td class="labels">
                        {% for z in x[2] %}
                           <p> {{z[1]}} </p>
                        {% endfor %}
                    </td>
                    <td class="labeller">
                        {% for z in x[2] %}
                        <p> {{z[2]}} </p>
                        {% endfor %}
                    </td>
                    <td class="radarsn">{{x[3]}}</td>
                    <td class="camerasn">{{x[4]}}</td>
                    <td class="images"><img src="{{ url_for('sendfiletest', name=x[5]) }}" height="500px" width="500px" alt="object"></td>
                </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="3">
                        <!-- no results label -->
                        <div
                                data-grid-control="label"
                                data-type="no-results"
                                data-text="No results found.">
                        </div>
                    </td>
                </tr>
            </tfoot>
        </table>

        <!-- DataGrid library JavaScript -->
        <script src="datagrid.min.js"></script>

        <script>
            datagrid();
        </script>
    </body>
</html>